.aside {
  background-color: var(--skybluehighlight);
  color: var(--steelbluelowlight);
  width: 20vw;
  height: 100vh;
  border-right: 1px solid var(--steelbluelowlight);
}

.button
{
  align-items: start;
  align-self: flex-start;
  padding: 20px 10%;
  color: #2E2940;
  text-transform: capitalize;
}