
.typeXLarge{
    font-size: x-large;
    color: black;
}

.typeLarge{
    font-size: large;
}

.typeMedium{
    font-size: medium;
    color: black;
}

.typeMediumBold{
    font-size: medium;
    font-weight: bold;
    color: black;
}

.typeXSmall{
    font-size: x-small;
    color: black;
}

.alumnoInfoContainer{
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttonTop {
    margin-right: 30px;
    font-size: medium;
    height: 50px;
    width: 250px;
}

.alumnoInfoTop{
    padding: 30px 30px;
    width: 80vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.alumnoRoute{
    margin-top: 30px;
    margin-left: 30px;
}

.table{
    height: 30vh;
    margin-bottom: 30px;
    margin-left: 30px;
}

.modalBox
{
  position: absolute;
  top: 50%;
  left: 35%;
  width: 600px;
  background-color: var(--steelbluelowlight);
  border: 2px solid var(--blue);
  color: var(--bluehighlight);
  box-shadow: 24;
  padding: 30px 70px;
}


.allTextFields{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.textFieldModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 7vh;
}

.modalButtonsCont
{
    display: flex;
    justify-content: flex-end;
}

.modalButton{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

