.button {
  margin-right: 0.5rem;
}
.coursesInfo {
  width: 100%;
}
.coursesInfoTitle {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}
.coursesInfoTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.coursesInfoTop button {
  margin-left: 0.5rem;
}
.coursesRoute {
  margin-top: 2rem;
}
.divInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.divInfoCont {
  width: 50%;
}
.divInfoColCont {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.typeBold {
  font-weight: bold;
}
