.button {
  margin-right: 1.25rem;
  padding: 0.675rem 0.675rem;
  font-size: var(--sm);
  width: 12rem;
}
.buttonTop {
  font-size: var(--sm);
  margin-right: 0.675rem;
}
.buttonsCont {
  margin: 3rem 0;
}
.buttonsCont button {
  margin-right: 1rem;
}
.container {
  align-items: start;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.courseInfo span,
.coursesInfoFull span {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.75rem 0.75rem 0;
}
.coursesInfo {
  width: 100%;
}
.coursesInfoCols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.coursesInfoFull {
  margin-bottom: 2rem;
}
.coursesInfoTitle {
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;
}
.coursesInfoTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.coursesRoute {
  margin-top: 2rem;
}
.dates {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.divInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.divInfoColCont {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.divInfoCont {
  width: 50%;
}
.newLine {
  white-space: pre-line;
}
.textarea {
  border: none;
}
.textFieldModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.textFieldModal.file {
  justify-content: end;
}
.textFieldModal p {
  margin-bottom: 0.5rem;
}
.textFieldModal .MuiOutlinedInput-input {
  font-size: var(--reg);
}
.twocols {
  grid-column: span 2 / span 2;
  justify-self: end;
}
.twocols button {
  margin-left: 1rem;
}
.typeBold {
  font-weight: bold;
}
