.button {
  margin-left: 30px;
  padding: 10px 10px;
  font-size: medium;
  width: 250px;
}
.buttonTop {
  margin-right: 10px;
}
.coursesInfo {
  margin-left: 50px;
  width: 70vw;
}
.coursesInfoTitle {
  padding-top: 40px;
  padding-bottom: 20px;
}
.coursesInfoTop {
  padding: 30px 40px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coursesRoute {
  margin-top: 30px;
  margin-left: 20px;
}
.divInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  width: 35vw;
}
.divInfoCont {
  width: 35vw;
}
.divInfoColCont {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  margin-top: 30px;
}
