.aside {
  border-right: 1px solid var(--steelbluelowlight);
  height: 100vh;
  background-color: var(--skybluehighlight);
  color: var(--steelbluelowlight);
  width: 20vw;
}
.button {
  align-items: start;
  align-self: flex-start;
  color: #2e2940;
  padding: 20px 10%;
  text-transform: capitalize;
}
