.button {
  font-size: var(--sm);
  margin-right: 1rem;
  padding: 0.625rem 0.625rem;
  width: 12rem;
}
.buttonImage {
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  width: 9.375rem;
}
.buttonTop {
  font-size: var(--sm);
  margin-right: 0.625rem;
}
.chosenTemplate p:first-child {
  font-size: 1.125rem;
  margin: 1.5rem 0 0.75rem;
}
.coursesInfoTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.coursesRoute {
  margin-top: 2rem;
}
.diplomaContainer {
  margin: 3.125rem 0;
}
.diplomaContainer h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}
.diplomaDiv {
  display: flex;
  flex-direction: column;
}
.diplomaTitle {
  margin-top: 1.25rem;
}
.imageDiploma {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.imageFile {
  display: none;
}
.mwidth {
  max-width: 40rem;
}
.template {
  margin-top: 4rem;
}
.template h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.template p {
  margin-bottom: 0.5rem;
}
.templateData {
  margin-left: 1.5rem;
}
.templateSection {
  font-size: 1.075rem;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}
.thumb {
  width: 16rem;
}
.updateButton {
  display: inline-block;
  margin-left: 4rem;
}
.upper {
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}
.xsmall {
  font-size: var(--sm);
}
