.alumnoInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.alumnoInfo span {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.75rem 0.75rem 0;
}
.alumnoInfoContainer {
  margin: 3.125rem 0;
}
.alumnoInfoContainer h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}
.alumnoInfoTop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.alumnoRoute {
  margin-left: 2rem;
  margin-top: 2rem;
}
.button {
  font-size: x-small;
  height: 2rem;
  width: 9.375rem;
  margin-bottom: 2rem;
  margin-right: 1.25rem;
  margin-top: 2.5rem;
}
.buttonTop {
  font-size: var(--sm);
  margin-right: 2rem;
  width: 12rem;
}
