.alumnoTitle {
  margin-top: 1.5rem;
}
.button {
  margin-right: 1.5rem;
  padding: 0.675rem 0.675rem;
  font-size: var(--sm);
  width: 12rem;
}
.buttonTop {
  margin-right: 0.675rem;
}
.coursesInfoTop {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coursesRoute {
  margin-top: 2rem;
}
.table {
  height: 40rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
