.alumnoTitle {
  margin-top: 20px;
}
.button {
  margin-right: 20px;
  padding: 10px 10px;
  font-size: var(--sm);
  width: 12rem;
}
.buttonTop {
  font-size: var(--sm);
  margin-right: 10px;
}
.coursesInfoTop {
  padding: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coursesRoute {
  margin-top: 30px;
}
.table {
  height: 55rem;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
