.footer {
  background-color: var(--babypink);
  bottom: 0;
  color: var(--steelbluelowlight);
  font-size: var(--sm);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.footerWrap {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 1rem;
  text-align: center;
}
@media (min-width: 1700px) {
  .footerWrap {
    padding: 0;
  }
}
