.allSearchers {
  display: flex;
  justify-content: space-between;
}
.allTextFields {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
.buttonActions {
  display: flex;
  justify-content: space-evenly;
}
.changesList {
  background: rgba(0, 0, 0, 0.05);
  max-height: 120px;
  overflow-y: scroll;
  padding: 0.25rem;
}
.changesList li {
  display: block;
  padding-bottom: 0.5rem;
  margin: 0 0 0.25rem 0.75rem;
}
.creationButtons button {
  margin-left: 1rem;
}
.explanation {
  margin-top: 1rem;
}
.explanation p {
  color: var(--steelbluelowlight);
  font-size: var(--xs);
  margin-bottom: 0.25rem;
}
.menuitem {
  text-transform: none;
}
.modalContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.fieldsTitle {
  display: flex;
  justify-content: space-between;
}
.gridTool {
  padding: 0.675rem;
}
.imageButton {
  width: 100%;
}
.marginTop {
  margin-top: 0.675rem;
}
.modalBox {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--blue);
  left: 50%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 43.75rem;
}
.modalButton.variant {
  background: var(--bluehighlight);
}
.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}
.modalButtonsCont {
  display: flex;
  justify-content: flex-end;
}
.modalButtonsCont button {
  margin-left: 1rem;
}
.modalTextField {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modalTextField span {
  color: red;
}
.modalTextField.file {
  justify-content: end;
}
.modalTextField button {
  height: 3rem;
  position: relative;
  top: 0.7rem;
}
.modalTextField p {
  color: var(--steelbluelowlight);
  font-size: var(--xs);
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}
.searcherField {
  display: flex;
  flex-direction: column;
}
.table {
  height: 60rem;
  margin: 2.5rem 0;
  width: 100%;
}
.tableHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.taBorder {
  border: 1px solid var(--steelbluelowlight);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.taBorder:focus {
  outline: 1px solid var(--steelbluehighlight);
}
.templateItem {
  align-items: center;
  color: var(--steelbluelowlight);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.templateItem:hover {
  background: #efefef;
}
.templateItem p {
  font-size: var(--sm);
}
.templateItem button {
  background: white;
  border: 1px solid var(--steelbluelowlight);
  color: var(--steelbluelowlight);
  margin-left: 0.5rem;
  padding: 0.25rem;
}
.templateItem button:hover {
  background: white;
  border: 1px solid var(--pinklowlight);
  color: var(--pinklowlight);
}
.templateItem button.warn:hover {
  background: white;
  border: 1px solid var(--warn);
  color: var(--warn);
}
.textarea {
  grid-column: span 2;
}
.textAreaWidth {
  width: 100%;
}
.title {
  color: var(--steelbluelowlight);
  font-size: var(--lg);
  margin-bottom: 2rem;
}
.updateForm {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
}
.updateTitle {
  margin-bottom: 1rem;
}
