.allTextFields {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.alumnoInfoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.alumnoInfoTop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
}
.alumnoRoute {
  margin-top: 30px;
}
.buttonTop {
  font-size: var(--sm);
  height: 50px;
  margin-right: 30px;
  width: 12rem;
}
.modalBox {
  background-color: var(--steelbluelowlight);
  border: 2px solid var(--blue);
  box-shadow: 24;
  color: var(--bluehighlight);
  left: 35%;
  padding: 30px 70px;
  position: absolute;
  top: 50%;
  width: 600px;
}
.modalButton {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
}
.modalButtonsCont {
  display: flex;
  justify-content: flex-end;
}
.table {
  height: 30rem;
  margin-bottom: 30px;
}
.textFieldModal {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 9vh;
  justify-content: space-evenly;
}
