@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  border: none;
}

:root {
  /* Colors */
  --steelbluelowlight: #2e2940;
  --skybluelowlight: #00557c;
  --bluelowlight: #463777;
  --steelblue: #597891;
  --skyblue: #6bc8f2;
  --blue: #3e65ac;
  --steelbluehighlight: #7dbed3;
  --skybluehighlight: #b8e1f6;
  --bluehighlight: #7cb1de;
  --pinklowlight: #c34186;
  --babypinklowlight: #d18b98;
  --pink: #ea5c99;
  --babypink: #f8cacc;
  --pinkhighlight: #dca4ca;
  --babypinkhighlight: #fae0e5;
  --black: #000000;
  --lightgray: #f0f0f0;
  --white: #ffffff;
  /* Font sizes - Minor third */
  --xxxxl: 2.986rem;
  --xxxl: 2.488rem;
  --xxl: 2.074rem;
  --xl: 1.728rem;
  --lg: 1.44rem;
  --med: 1.2rem;
  --reg: 1rem;
  --sm: 0.833rem;
  --xs: 0.694rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: 'Inter';
  overflow-x: hidden;
  padding-right: 0 !important;
}
html {
  font-size: 70%;
}
@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 900px) and (max-width: 1599px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 899px) {
  html {
    font-size: 80%;
  }
}
body {
  font-size: var(--reg);
}
main {
  max-width: 1600px;
  width: 100%;
}
main > div {
  padding: 6rem 0;
}
@media (min-width: 1700px) {
  main + div {
    padding: 0;
  }
}
h1 {
  font-size: var(--xl);
}
h2 {
  display: block;
  font-size: var(--lg);
  margin: 3rem 0 1.5rem;
}
p {
  font-size: var(--reg);
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
}
.mb0 {
  margin-bottom: 0;
}
.mb1-2 {
  margin-bottom: 0.5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mt0 {
  margin-top: 0;
}
.mt1-2 {
  margin-top: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt4 {
  margin-top: 4rem;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.typeXXXXL {
  font-size: var(--xxxxl);
}
.typeXXXL {
  font-size: var(--xxxl);
}
.typeXXL {
  font-size: var(--xxl);
}
.typeXL {
  font-size: var(--xl);
}
.typeL {
  font-size: var(--lg);
}
.typeM {
  font-size: var(--med);
}
.type {
  font-size: var(--reg);
}
.typeS {
  font-size: var(--sm);
}
.typeXS {
  font-size: var(--xs);
}
.selected {
  background-color: var(--steelbluelowlight);
  color: white;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
