.coursesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  text-align: end;
  width: 50%;
}
.homeContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}
.studentsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  width: 50%;
}
.totalDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.typeLarge {
  display: block;
  font-size: var(--lg);
  margin-bottom: 20px;
}
.typeMedium {
  display: block;
  font-size: var(--med);
  margin-top: 60px;
}
.typeSmall {
  font-size: var(--sm);
}
.typeXSmall {
  font-size: var(--xs);
}
.typeXLarge {
  font-size: var(--xl);
}
