.coursesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  width: 50%;
}
.homeContainer {
  display: flex;
  gap: 10rem;
  height: 100vh;
  width: 100%;
}
.main {
}
.studentsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.totalDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.375rem;
}
.typeLarge {
  display: block;
  font-size: var(--lg);
  margin-bottom: 1.25rem;
}
.typeMedium {
  display: block;
  font-size: var(--med);
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.typeSmall {
  font-size: var(--sm);
}
.typeXSmall {
  font-size: var(--xs);
}
.typeXLarge {
  font-size: var(--xl);
}
